# syntax https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* shermanm@uchicago.edu markpowers@uchicago.edu hammock@tacc.utexas.edu
